.contentsFlex img {
    width: 280px;
    height: 240px;
  }
  .contentsFlex {
    display: flex;
    background-color: rgb(236, 212, 90);
    padding: 20px;
  }
  .contentsFlex p {
    margin-left: 20px;
  }